body {
    background-image: linear-gradient(palegoldenrod, powderblue); 
    background-position: right top;
    background-repeat: no-repeat;
    color: navy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    max-width: 100%;
}
h1, h2 {
    color: lavender;
    text-align: left;
}
.container {
    align-items: center;
    float:left;
    margin: auto;
    }
   
   .box1 {
    float: left;
    margin: 150px;
    width: 60px;
    height: 40px;
    display: inline-block 
    }
    .box2 {
    float: left;
    margin: 150px;
    width: 60px;
    height: 40px;
    display: inline-block 
    }
    .box3 {
    float: left;
    margin-left: 150px;
    width: 60x;
    height: 40px;
    display: inline-block 
    }
#discography{
    border-style: outset; 
    border-color: lavender;
    background-color: palevioletred;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:palevioletred; opacity: 0.6;
  }
  
  li {
    float: left;
  }
  li a {
    display: inline-block;
    color: palegoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   li a:hover {
    background-color: palevioletred;
}
#links{
    bottom: 5px;
    position: absolute;
}