html,body {
    overflow: visible;
    max-width: 100%;
    }
    body {
        background-image: url(keyboard.png), linear-gradient(palegoldenrod, powderblue); 
        background-position: left bottom,right top;
        background-repeat: repeat-x, no-repeat;
        color: navy;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: larger;
}
h1, h2 {
    color: lavender;
}
#music {
    border-style: outset; 
    border-color: lavender;
    background-color: palevioletred;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:palevioletred; opacity: 0.6;
  }
  
  li {
    float: left;
  }
  li a {
    display: inline-block;
    color: palegoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   li a:hover {
    background-color: palevioletred;
   }
#numb {
    float: left;
    margin-left: 120px;
    margin-top: 55px;
    border-width: 10px;
    border-style: double;
    border-color: palevioletred;
    width:fit-content;
    background-color: navy;
    padding: 0.5cm;
}
#spotify {
    float: left;
    border-width: 10px;
    border-style: double;
    border-color: palevioletred;
    width:fit-content;
    background-color: navy;
    padding: 0.5cm;
}
