html,body {
    overflow: visible;
    max-width: 100%;
    }
body {
    background-image: linear-gradient(palegoldenrod, powderblue); 
    background-position: right top;
    background-repeat: no-repeat;
    color: navy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    min-height: 100px;
}
h1, h2 {
    color: lavender;
}
#bio{
    border-style: outset; 
    border-color: lavender;
    background-color: palevioletred;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:palevioletred; opacity: 0.6;
  }
  
  li {
    float: left;
  }
  li a {
    display: inline-block;
    color: palegoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   li a:hover {
    background-color: palevioletred;
}
#live{
    position: fixed;
    border-width: 10px;
    border-style: double;
    border-color: palevioletred;
    width:fit-content;
    background-color: navy;
    padding: 0.5cm;
}
#guitar{
    transform: skewY(20deg);
    position: relative;
    bottom: 20px;
    right: 15px;
}
.bandname{
    color: palevioletred;
    font-style: oblique;
    font-size: large;
}
.member{
    color: plum;
    font-style: italic;
    font-size: large;
}