<html>
    <head>
        <title>Men I Trust Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="artist.style.sheet.css">
    </head>
    <body>
        <ul>
            <li><a href="artist.page.html">Home</a></li>
            <li><a href="artist.bio.html">Bio</a></li>
            <li><a href="artist.discography.html">Discography</a></li>
            <li><a href="artist.music.html">Music</a></li>
            <li><a href="index.html">My Site</a></li>
        </ul>
        <h1><span id="menitrust">Men I Trust</span></h1>
        <p>
            Here is a page that I've made for one of my favourite bands, <span class="mit">Men I Trust</span> &#128512;
        </p>
        <p>
        <img width="300" src="menitrust1.jpg" alt="Picture of Men I Trust">
        </p>
        <div id="cartoon">
            <img width="400" src="cartoon.man.png" alt="Men I Trust Logo">
        </div>
        <p>
             Hope you enjoy &#128151;
         </p>
            <iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/TQnHlYNU__I?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>